<% if @song.errors.any? %>
  <div>
    <strong>Some issues with your song, please fix them:</strong>
    <ul>
      <% @song.errors.each do |song| %>
        <li><%= song %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section id="form">

<form method="post" action="/songs">

  <div class="row">
    <div class="large-8 columns">
      <label>Artist:</label>
      <input type="text" name="artist" value="<%= @song.artist %>">
    </div>
  </div>

  <div class="row">
    <div class="large-8 columns">
      <label>Track:</label>
      <input type="text" name="track" value="<%= @song.track %>">
    </div>
  </div>

  <div class="row">
    <div class="large-8 columns">
      <label>URL:</label>
      <input type="text" name="url" value="<%= @song.url %>">
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
    <input type="submit" value="Submit">
    </div>
  </div>
</form>

</section>
